registry=https://registry.npmmirror.com/
@newrank:registry=https://packages.aliyun.com/5f0d166f5fd102f22f6b767b/npm/npm-registry/
sentrycli_cdnurl=https://npmmirror.com/mirrors/sentry-cli
ENTRYCLI_CDNURL=https://cdn.npm.taobao.org/dist/sentry-cli
